_/
__pycache__/
\#*\#
.\#*
*~
*.bak
*.swp
*.pdf
*.ps
*.dvi
*.info

/dist/*/*/*
!/dist/*/*/PKGBUILD
*.gz
*.xz

/sets.aux
/sets.cp
/sets.cps
/sets.fn
/sets.ky
/sets.log
/sets.pg
/sets.toc
/sets.tp
/sets.vr
/sets.op
/sets.ops
/sets.pgs
/sets.vrs